* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #2b385b;
}

#container {
  width: 100vw;
  height: 50vh;
  position: relative;
  top: calc(50% - 25vh);
  text-align: center;
}

.card {
  width: 150px;
  height: 200px;
  padding: 30px;
  margin: 20px;
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.68);
}

/* Classes à adicionar */

.background {
  background-color: rgb(255, 88, 27);
}
.title {
  color: #2b385b;
}
.description {
  margin: 30px 0px 30px 0px;
  color: white;
  font-size: 14px;
}

.btn {
  width: 60px;
  height: 40px;
  border-radius: 8px;
  border: none;
  color: white;
}

.edit {
  background-color: green;
}

.delete {
  background-color: red;
}
