:root {
    --color-primary-growdev: #e15f0e;
    --color-secondary-growdev: #2b385b;
}

*{
    margin: 0;
    padding: 0;
}


.float-button{
    right: 2rem;
    bottom: 2rem;
    width: 3rem;
    height:3rem;;

    background-color: var(--color-primary-growdev);
    border:var(--color-primary-growdev)
}

.float-button:hover{
    background-color: var(--color-secondary-growdev);
    border:var(--color-secondary-growdev)
}

body{
    height: 300vh;
}